$main-color:hsl(197, 100%, 56%);

.main-login{
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background: linear-gradient(to right,#fff 50%,$main-color 50%);
 .login-container {
   height: 75vh;
   width: 80%;
   background: linear-gradient(to right bottom,rgba(236,236,236,0.7),rgba(236,236,236,0.4));
   border-radius: 1rem;
   margin: 2rem auto;
   box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
   display: flex;
   justify-content: center;
   align-items: center;
     .left-side,.right-side{
       margin:2rem;
       box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
       width: 80%;
       height: 80%;
       border-radius: 20px;
     }
     .img-Class {
       height: 4rem;
       #img-id{
        height: 100%;
        object-fit: cover;
       }
     }
     .left-side{
        display: flex;
   
        flex-direction: column;
        justify-content: center;
        input{
             display: block;
             height: 2rem;
             border: none;
             width: 70%;
             margin: auto;
             margin-bottom: 1.5rem;
             padding: 0.2rem 1rem;
             color: grey;
             &:focus{
               outline: none; 
               border: none;
             }
             &:hover{
                outline: 0.5px solid #ffbf00;
               box-shadow: 0.5px 0.5px 6px -1px #ffbf00;


             }
            
        }
         label{
            width: 78%;
            display:block ; 
            text-align: left;
            margin: auto;
            font-size: small;
            color: gray; 
            margin-bottom: 0.5rem;
         }
         #sub_butt{
            width: 80%;
            background: #ffbf00;
            color: white;
            cursor: pointer;
            font-size: 16px;
            border: none;
            padding: 0.5rem 1rem;
            transition: all 0.6 ease;
            &:hover{
                box-shadow: 0.5px 0.5px 6px -1px black;
                transform: translateY(-5px);
            }
         }
     }

     .right-side{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
      .welcomeNote{
        h3{
          font-size: 25px;
          float: left;
          margin-left: 1rem;
          color: white !important;;
          
          
        
        }
      }
      .welcomeImg{
        height:50% ;
        width: 70%;
        #wel-img-id{
          width: 100%;
          object-fit: cover;
    
          
        }
      }
     }
     h4{
       font-size: 23px;
     }
 }
}


